[package]
name = "captcha"
version = "0.0.1"
authors = ["daniel-e <git.daniele@gmail.com>"]
description = "Library for generating CAPTCHAs."
license-file = "LICENSE.md"
keywords = ["CAPTCHA"]
readme = "README.md"
exclude = ["gen/*", "captcha.iml", ".idea"]
documentation = "https://github.com/daniel-e/captcha"
homepage = "https://github.com/daniel-e/captcha"
repository = "https://github.com/daniel-e/captcha"

[dependencies]
image = "0.13.0"
rand = "0.3.15"
serde_json = "1.0.2"
base64 = "0.5.2"
